body {
	min-width: 250px;
	font-family: Arial, "Microsoft Yahei";
	font-size: 14px;
}
h2 {
	text-align: center;
	text-shadow: #707070 0.05px 0.05px 0.05px;
}
p {
	text-align: center;
	font-weight: bold;
	background-color: #E4E4E4;
}
li {
	background-color: #B1FEB4;
}
b {
	font-size: 120%;
}