[Desktop Entry]
Type=Application
Version=1.0
Name=rambox
Comment=ramboxstartup script
Exec=/tmp/.mount_u8jlsA/usr/bin/rambox
StartupNotify=false
Terminal=false